WebContent/WEB-INF/users.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="assign1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="password"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>